<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.makeapp.game.shipgold"
          android:versionCode="2"
          android:versionName="1.1.1">

    <uses-sdk android:minSdkVersion="8"/>
    <uses-feature android:glEsVersion="0x00020000"/>

    <application android:label="@string/app_name"
                 android:icon="@drawable/icon">

        <activity android:name=".GameActivity"
                  android:screenOrientation="portrait"
                  android:launchMode="singleInstance"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                >
            <meta-data android:name="android.app.lib_name" android:value="cocosjava"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <!--扩展基础-->
        <meta-data android:name="extras" android:value="vibrator;ad;weixin"/>
        <meta-data android:name="extras.vibrator" android:value="com.makeapp.android.extras.FunctionVibrator"/>
        <meta-data android:name="extras.browser" android:value="com.makeapp.android.extras.FunctionBrowser"/>

        <!--多盟广告-->
        <meta-data android:name="extras.ad" android:value="com.makeapp.android.extras.domob.DomobFunctionAd"/>
        <meta-data android:name="extras.ad.pub_id" android:value="$56OJwEM4uND5yHOlbE"/>
        <meta-data android:name="extras.ad.banner_id" android:value="$16TLuVclApUxSNU0l0Jr6Ebi"/>
        <meta-data android:name="extras.ad.interstitial_id" android:value="$6TLuVclApvOWNU0Fi-WWNVs"/>
        <meta-data android:name="extras.ad.splash_id" android:value="$16TLuVclApvOWNU0BpR-agvs"/>


        <!--腾讯微信-->
        <meta-data android:name="extras.weixin" android:value="com.makeapp.android.extras.tencent.TencentFunctionWeiXin"/>
        <meta-data android:name="extras.weixin.app_id" android:value="wxe772fea9ad5f4fc0"/>

        <activity android:name=".wxapi.WXEntryActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:exported="true"/>


    </application>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <supports-screens android:largeScreens="true"
                      android:smallScreens="true"
                      android:anyDensity="true"
                      android:normalScreens="true"/>
</manifest> 
